/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fff;
}


.info_box,
.quiz_box,
.result_box,
.score_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult,
.score_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.info_box{
    width: 1000px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info {
    font-weight: 500;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 24px;
}


.info {
    text-align: center;
}

.info-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.info_box .buttons {
    display: flex;
    justify-content: center;
}

.info_box .buttons button{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #511991;
    color: #fff;
    justify-content: center;
}

.quiz_box{
    width: 700px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.timer{
    color: #000;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #000;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    user-select: none;
}

.info_box .buttons button:hover{
    color: #000;
    background: #c291fa;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 34px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
    font-weight: 600;
}

section .option_list .option:hover {
    background: #c291fa;
    color: black;
}

section .option_list .option{
    background: #511991;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    width: 58%;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option.disabled{
    pointer-events: none;
}


footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .correctWrong span{
    display: flex;
    user-select: none;
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    padding: 0 5px;
    color: lightgray;
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 650px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .complete_text{
    font-size: 32px;
    font-weight: 700;
}
 
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background: #511991;
    margin-left: 10px;
}

.result_box .buttons button:hover{
    color: #000;
    background: #c291fa;
}

.score_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 650px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.score_box .buttons{
    display: flex;
    margin: 20px 15px;
}

.score_box .buttons button{
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.score_box .highscore_text{
    font-size: 32px;
    font-weight: 700;
}


#intials {
    margin-top: 3px;
    height: 40px;
}

.buttons label {
    font-size: 24px;
    font-weight: 500px;
    margin-top: 5px;
    margin-right: 10px;
}



